html, body{
    width:100%;
    height:100%;
}body{
    background:#454444 url(../img/fundo.png);
    text-align:center;
    font-family:'Cuprum',sans-serif;
    font-size:18px
}.logo{
    padding:0;
    margin:0;
    width:60px;
    height:50px;
}#content{
    padding:0 0 30px;
    max-width:1240px;
    margin:50px auto;
}.container{
    margin-bottom:40px;
    margin-top:-50px;
}#texto{
    text-align:justify;
}.clear{
    margin-top:15px;
    clear:both;
}h1{
    text-shadow:1px 0 0 #fff,-1px 0 0 #fff,0 1px 0 #fff,0 -1px 0 #fff
}h6{
    margin-top:2px;
    margin-bottom:2px;
    font-size:18px;
    color:#337ab7;
}.navbar-nav{
    margin-right:auto;
    margin-left:auto;
}.dropdown-menu > li > a{
    font-size:18px;
}footer{
    background-color:rgba(0,0,0,0.44);
}#itensRod{
    display:-webkit-flex;
    -webkit-flex-direction:row-inverse;
    display:flex;
    flex-direction:row-inverse;
    max-width:920px;
    margin-left:auto;
    margin-right:auto;
}#itensRod div{
    padding:15px 0;
    margin-left:auto;
    margin-right:auto;
}.linhaSubVer{
    padding:0;
    width:1px;
    border-left:1px dashed #fff;
    margin:20px 0;
}p{
    color:#ccc;
}#texto{
    padding:0 6% 30px;
}
