@font-face{
    font-family:'Cuprum';
    font-style:normal;
    font-weight:400;
    src:local(Cuprum),local(Cuprum-Regular),url(http://fonts.gstatic.com/s/cuprum/v7/rZj40-VH1f1Wt0yg6Fkbcw.woff2) format("woff2"),url(http://fonts.gstatic.com/s/cuprum/v7/sp1_LTSOMWWV0K5VTuZzvQ.woff) format("woff")
}@font-face{
    font-family:'Lobster';font-style:normal;font-weight:400;src:local(Lobster),local(Lobster-Regular),url(http://fonts.gstatic.com/s/lobster/v14/w5HPj52zZZcV_MSSXRmf.woff2) format("woff2"),url(http://fonts.gstatic.com/s/lobster/v14/w5HPj52zZZcV_MSSXRmZ.woff) format("woff")
}
