.navbar-header > a:hover {
    text-shadow:0 0 .2em #cccccc,0 0 .2em #ccc;
}.navbar-brand{
    font-size:23px;
    font-family:Lobster;
    vertical-align:middle;
    margin-bottom:0;
    padding-bottom:0;
}#itensRod{
    font-size:13px;
}#itensRod p{
    font-size:17px;
}.carousel .item img{
    width:100%;height:100%;
}.carousel .item{
    max-height:450px;
    margin-right:auto;
    margin-left:auto;
}.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
    background-color:#ccc
}@media only screen and (max-width: 320px){
    #topoTudo{
        width:98%;
        margin-right:auto;
        margin-left:auto;
    }p{
        font-size:18px;
    }h1{
        font-size:37px
    }
}@media only screen and (min-width: 321px){
    p{
        font-size:20px
    }h1{
        font-size:36px
    }#topoTudo{
        width:90%;
        margin-right:auto;
        margin-left:auto;
    }
}@media (max-width: 610px){
    #itensRod{
        display:block
    }.linhaSubVer{
        visibility:hidden;
        height:1px;
        width:1px;
        margin:0;
    }
}@media (max-width: 767px){
    .block{
        margin-right:auto;
        margin-left:auto;
    }.navbar-default .navbar-nav .dropdown-menu > li > a{
        background-color:#ccc;
        border-radius:4px;
        margin-top:2px;
    }
}@media (min-width: 767px){
    p{
        font-size:22px
    }h1{
        font-size:38px
    }#topoTudo{
        width:80%;
    }#topoItem{
        float:right
    }.container{
        width:100%;
        max-width:1140px;
    }ul.nav li:hover > ul.dropdown-menu{
        display:block;
    }
}@media (max-width: 1090px){
    .carousel .item{
        max-height:390px;
        margin-right:auto;
        margin-left:auto;
    }
}@media only screen and (min-width: 1200px){
    p{
        font-size:26px;
    }h1{
        font-size:46px;
    }#topoTudo{
        max-width:1050px;
        margin-right:auto;
        margin-left:auto;
    }
}